<h1>@Titulo</h1>


<table class="table">
	<thead>
		<tr>
			<th>Ação</th>
			<th>Data</th>
			<th>Descrição</th>
			<th>Concluída</th>
		</tr>
	</thead>
	<tbody>	
		<ListaGenerica ListaItems="tarefas">
			<Lista Context="t"> 
				<TarefaIndividual item="t" RemoverTarefa="RemoverTarefa" />
			</Lista>
		</ListaGenerica>
	</tbody>
</table>


@if (tarefas != null)
{
	<div class="form-group">
		<label>Tarefas</label>
		<input type="text" placeholder="Informe a tarefa" @bind="novaTarefa"/>
		<button class="btn btn-primary"	@onclick="AdicionarNovaTarefa">Adicionar</button>
	</div>
}

@code
{
	[Parameter]
	public List<Tarefa> tarefas { get; set; }
	[Parameter]
	public string Titulo { get; set; }

	private string novaTarefa = string.Empty;

	void AdicionarNovaTarefa()
	{
		if (!string.IsNullOrWhiteSpace(novaTarefa))
		{
			tarefas.Add(new Tarefa
				{
					DataCriacao = DateTime.Now,
					Descricao = novaTarefa,
					ID = Guid.NewGuid()
				}
			);

			novaTarefa = string.Empty;
		}
	}

	void RemoverTarefa(Tarefa t)
	{
		tarefas.Remove(t);
	}
}